﻿
@{
    ViewData["Title"] = "Index";
}

<h2>OC-TEST-1</h2>
@ViewBag.test

<table>
    @foreach (var kv in ViewBag.config)
    {
        <tr>
            <td>@kv.Key</td>
            <td>@kv.Value</td>
        </tr>
    }
</table>

